<!DOCTYPE html>
<html>
  <head>
    <title>CorporateClash HQ</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Luckiest+Guy">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3d99e2; ">
      <div class="container">
        <a class="navbar-brand" href="/">CCHQ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse my-2" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/districts">Districts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api">API</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- body %>

    <div class="container">
      <div class="row" style="text-align:center;margin-top:50px;">
        <div class="col-sm-12" style="min-height: 100px;">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- CCHQ Bottom Page Responsive -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2155227401124469"
               data-ad-slot="9480278747"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
