body{
  background: #2c7ed0 url(/images/background_comic.jpg) no-repeat;
  background-position: top center;
  font-size: 90%;
}

nav.navbar{
  box-shadow: 0px 0px 80px 10px #2c7ed0;
}

#maincontent{
  margin-top: 50px;
  color: #333333;
}

#maincontent h1,#maincontent h2, #maincontent h3, #maincontent h4, #maincontent h5, #maincontent h6{
  font-family: 'Luckiest Guy', sans-serif;
}

.homepage{
  padding: 1em;
  background: #f7f7f7;
  border-radius: 10px;
}

.adsbygoogle{
  margin: 0 auto;
}

.media.media-invasion {
    text-align: left;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 4px 4px 12px #999;
    margin-bottom: 20px;
    transition: box-shadow .1s linear;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.media.media-invasion{
    text-align: left;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 4px 4px 12px #3d99e2;
    margin-bottom: 20px;

    transition: box-shadow .1s linear;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.media.media-invasion:hover{
    box-shadow: 4px 4px 20px #2c7ed0;
    cursor: pointer;
}
.media.media-invasion .media-object{
    max-height: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.media.media-invasion .media-body{
    padding: 10px;
}
.media.media-invasion .media-body > h5{
    padding-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
}
.media.media-invasion .media-body > p{
    margin: 0;
}
.homepage img{
  max-width: 100%;
}
