<div id="maincontent" class="container">
  <div class="row">
    <div class="d-md-none d-lg-block col-md-2"></div>
    <div class="col-md-12 col-lg-8">
      <div class="homepage">
        <h1>Welcome to CCHQ</h1>
        <p>
          Corporate Clash HQ is your one stop for helpful apps and services for
          Toontown Corporate Clash! More features are being added all the time,
          so be sure to check back frequently.
        </p><br />
        <h3>What is Corporate Clash HQ?</h3>
        <p>
          We have currently only have one service available on the CCHQ site,
          This service is the District checker. Since TTCC isn't fully released
          to the public yet, our API access is limited! Upon official release
          you can expect many more services to appear!
        </p>
      </div>
    </div>
    <div class="d-md-none d-lg-block col-md-2"></div>
  </div>
</div>
