<div id="maincontent" class="container">
  <div class="row">
    <div class="d-md-none d-lg-block col-md-2"></div>
    <div class="col-md-12 col-lg-8">
      <div class="homepage">
        <h1>Welcome to CCHQ</h1>
        <p>
          Corporate Clash HQ is your one stop for helpful apps and services for
          Toontown Corporate Clash! More features are being added all the time,
          so be sure to check back frequently.
        </p><br />
        <h3>What is Corporate Clash HQ?</h3>
        <p>
          We have currently only have two services available on the CCHQ site,
          These are our District checker and Invasion checker. Since TTCC isn't
          fully released to the public yet, our API access is limited! Upon
          official release you can expect many more services apearing!
        </p>
        <div class="row">
          <div class="col-md-6">
            <a href="/invasions">
              <img src="/images/invasion_overview.png" class="rounded" alt="Invasion Tracker Page" />
            </a>
          </div>
          <div class="col-md-6">
            <h4>Invasion Tracker</h4>
            <p>
              Our invasion tracker keeps track of the invasions so you don't
              have to!
            </p>
            <p>
              Find out if the cog you have on task is roaming the streets of a
              TTCC district in seconds by going to it's <a href="/invasions">page</a>.
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6 col-push-6 order-md-2">
            <a href="/districts">
              <img src="/images/district_overview.png" class="rounded" alt="District Information Page" />
            </a>
          </div>
          <div class="col-md-6 order-md-1">
            <h4>District Information</h4>
            <p>
              Check how many people are online in your favourite district and
              overall in-game.
            </p>
            <p>
              This information is updated automatically every 10 seconds to keep
              you with the latest information. Check it out <a href="/districts">here</a>!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none d-lg-block col-md-2"></div>
  </div>
</div>
